<!-- WWW_RELEASE-->
<script src="/js/jquery.min.js?20120425102410"></script>
<script src="/js/jquery.charcounter.js?20120425102410"></script>
<script src="/js/jquery.lazyload.js?20120425102410"></script>
<script src="/js/jquery.cookie.js?20120425102410"></script>
<script src="/js/jquery.rating.js?20120425102410"></script>
<script src="/js/jquery.pagination.js?20120425102410"></script>
<script src="/js/jquery.auto-complete.js?20120425102410"></script>
<script src="/js/jquery.jsonp.min.js?20120425102410"></script>
<script src="/js/jquery.highlight.js?20120425102410"></script>
<script src="/js/jquery.twinkle.js?20120425102410"></script>
<script src="/js/jquery-ui.custom.min.js?20120425102410"></script>
<script src="/js/browser_detect.js?20120425102410"></script>
<script src="/js/jquery.simplerotate.js?20120425102410"></script>

<script src="/js/jquery.caret.1.02.js?20120425102410"></script>
<script src="/js/jquery.insertcaret.js?20120425102410"></script>
<script src="/js/jquery.rangyinputs.js?20120425102410"></script>
<script src="/js/jquery.atname.js?20120425102410"></script>

<script src="/js/json2.js?20120425102410"></script>
<script src="/js/ajaxupload.3.2.js?20120425102410"></script>
<script src="/js/easyrec.js?20120425102410"></script>

<script src="/js/jquery.nxupload.js?20120425102410"></script>
<script src="/js/util.js?20120425102410"></script>

<script src="/js/layer.js?20120425102410"></script>
<script src="/js/album.js?20120425102410"></script>
<script src="/js/microdiary.js?20120425102410"></script>
<script src="/js/weibo.js?20120425102410"></script>
<script src="/js/game.js?20120425102410"></script>

<script src="/js/pub_weibo.js?20120425102410"></script>
<script src="/js/pub_comment.js?20120425102410"></script>
<script src="/js/pub_message.js?20120425102410"></script>
<script src="/js/card.js?20120425102410"></script>
<script src="/js/upload_img.js?20120425102410"></script>
<script src="/js/list.js?20120425102410"></script>
<script src="/js/label.js?20120425102410"></script>
<script src="/js/dgs.js?20120425102410"></script>
<script src="/js/pushstream.js?20120425102410"></script>
<script src="/js/chat.js?20120425102410"></script>